@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@400;500&&display=swap');

@media screen and (max-height: 440px),
       screen and  (max-width: 440px) {
  .multipleButtonsBlock-bottomRow {display:none;}
}

@media screen and (min-height: 440px) and (min-width: 440px) {
  .multipleButtonsBlock-bottomRow {display:flex;}
}

body {
  margin: 10px;
  width: 100vw;
  background: #f0efef;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 5px;
}

.arrowIcon {
  height: 16px;
  margin-left: 0;
  margin-right: 10px;
  transition: margin 100ms;
}


.multipleButtonsBlock-topRow {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.multipleButtonsBlock-bottomRow {
  bottom: 10px;
  position: absolute;

  justify-content: space-between;
  width:95%;
}

/* MAIN dropdown styling */

.buttonWrapper {  
  position: relative;
  margin: 10px;
}

/* button styling */

.dropButton {  
  padding: 15px 30px 15px 30px;
  border: none;
  width: 240px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: .03rem;
  font-size: 16px;  

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: white;
}  

.dropButton--enabled {
  cursor: pointer;
}

.dropButton--enabled.dropdownOpen .arrowIcon {
  margin-left: 10px;
  margin-right: 0px;
}

.dropButton--enabled:hover .arrowIcon {
  margin-left: 10px;
  margin-right: 0px;
  transition: margin 100ms;
}

/* STYLE: telia */
.dropButton.telia {
  border-radius: 24px;
}

.dropButton--disabled.telia {
  /*background-color: #CD9FEF; */
  background: #990AE3;
  opacity: 0.4;
}

.dropButton--enabled.telia {
  background-color: #8A1FD8;
}

.dropButton--enabled.dropdownOpen.telia {
  background: #6F17AC
}

.option--disabled.telia {
  color: #B5B5B5;
}

.option--active.option--regular.telia {  
  color: black;  
}  

.option--active.option--regular.telia:hover {  
  color: #932DDD; 
}  

.option--active.option--support.telia {  
  color: #CE68C5; 
}  

.option--active.option--support.telia:hover {  
  color: #EB56D0; 
}  

 

/* STYLE: telia WCAG */
.dropButton.teliaWCAG {
  border-radius: 24px;
}

.dropButton--disabled.teliaWCAG {
  background-color: #7f6f8b;  
}

.dropButton--enabled.teliaWCAG {
  background-color: #8A1FD8;
}

.dropButton--enabled.dropdownOpen.teliaWCAG {
  background: #6F17AC
}

.option--disabled.teliaWCAG {
  color: #706b6b;
}

.option--active.option--regular.teliaWCAG {  
  color: black;  
}  

.option--active.option--regular.teliaWCAG:hover {  
  color: #932DDD; 
}  

.option--active.option--support.teliaWCAG {  
  color: #b54aac;
}  

.option--active.option--support.teliaWCAG:hover {  
  color: #7C0E66; 
}  




/* STYLE: elisa */
.dropButton--disabled.elisa {
  background-color: #667685;  
}

.dropButton--enabled.elisa {
  background-color: #0618A8;
}

.dropButton--enabled.dropdownOpen.elisa {
  background: #04127c
}

.option--disabled.elisa {
  color: #6B6B6B;
}

.option--active.option--regular.elisa {  
  color: black;  
}  

.option--active.option--regular.elisa:hover {  
  color: #0618A8; 
}  

.option--active.option--support.elisa {  
  color: #BC4910; 
}  

.option--active.option--support.elisa:hover {  
  color: #83340C; 
}  


/* STYLE: tele2 */
.dropButton--disabled.tele2 {
  background-color: #6d737e; 
}

.dropButton--enabled.tele2 {
  background-color: #2D3139;
}

.dropButton--enabled.dropdownOpen.tele2 {
  background: #191c20
}

.option--disabled.tele2 {
  color: #6B6B6B;
}

.option--active.option--regular.tele2 {  
  color: black;  
}  

.option--active.option--regular.tele2:hover {  
  color: #2b94cd; 
}  

.option--active.option--support.tele2 {  
  color: #C81967; 
}  

.option--active.option--support.tele2:hover {  
  color: #6b2d49; 
}  

.dropdown-content {  
  display: block;
  position: absolute;  
  max-height: 400px;
  overflow-y: scroll;

  background-color: white;  
  min-width: 300px;  
  
  z-index: 1;  
  
  

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}  

.optionElementWrapper {  
  background-color: white;
  padding: 0 16px;  
  
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .03rem;
  font-weight: 400;
  text-align: left;
  
  
}  

.optionElementWrapper .optionElement {
  padding: 9px 10px;
  display: flex;
  gap: 5px;
}

.optionElementWrapper:not(:first-child) > .optionElement{ 
  border-top: 1px solid #F6F6F6;
 }

 .optionElementWrapper:first-child > .optionElement{ 
  padding: 10px 10px;
 }

.option--active:hover + .optionElementWrapper .optionElement{  
  border-top: 1px solid white;
}  

.option--active:hover {  
  background-color: #F6F6F6; 
  cursor: pointer;
}  

.option--disabled:hover {
  cursor: not-allowed;
}

.optionIcon {
  height: 13px;
  object-fit: cover;
}
